/* Global */

body {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 1rem;
}

header {    
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 800;
    border-bottom: 1px solid rgb(162, 169, 177);
    margin: 10px;
}

p {
    text-align: justify;
}

#main-doc {
    position: relative;
    top: 0px;
    margin-left: 320px;
    padding: 10px;
    margin-bottom: 10px;
}

ul > li {
    padding: 3px;
}

/* Images */

section > figure {
    max-width: 100%;
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 10;
    margin: 10px 0;
}

figcaption {
    font-size: 0.625rem;
    padding: 0 10px;
}

/* Custom */

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;    
}

/* navbar */

#navbar {
    position: fixed;
    min-width: 300px;
    top: 0;
    left: 0;    
    border-right: solid;
    border-color: rgb(102, 100, 100);
}

.nav-link {
    color:  rgb(43, 40, 40);
    border-top: 1px solid;     
    width: 100%;
    padding: 0px 0;
}
